<!DOCTYPE html>
<html>
<head>
    <title>Iris Prediction</title>
</head>
<body>
    <h2>Iris Flower Prediction</h2>
    <form action="/predict" method="post">
        <label>Sepal Length:</label><input type="text" name="sepal_length"><br>
        <label>Sepal Width:</label><input type="text" name="sepal_width"><br>
        <label>Petal Length:</label><input type="text" name="petal_length"><br>
        <label>Petal Width:</label><input type="text" name="petal_width"><br>
        <input type="submit" value="Predict">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
